[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mock = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
responses = "*"
safety = "*"
pylint = "*"

[packages]
urllib3 = ">=1.24.2" # Fixes CVE-2019-11324
Jinja2 = ">=2.10.1" # Fixes CVE-2019-10906
requests = ">=2.20.0"
flask = "*"
json-minify = "*"
vault-auth = {git = "https://github.com/linaro-its/vault_auth.git"}
